useDynLib(shp2graph)
import(maptools)
import(igraph)
importFrom("grDevices", "rainbow")
importFrom("methods", "is", "slot")
importFrom("graphics", "legend", "lines", "plot", "plot.new",
             "plot.window", "points", "title")
import(sp)
export(Directed,SL.extraction,ME.simplification,PN.amalgamation,Degree.list,Minus.DegreeL,Redef.functions,is.exception,points2network,Nearest.nodes,footpoint.nodes,Add.nodes,virtualedge.nn,point.in.bbox,ptsinnt.view,readshpnw,Update.nodelist,Update.edgelist,Nodes.coordinates,extend.eadf,nt.connect,nel2igraph)